#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

# expects these variables. Copy variables and add to '.envrc.private' and fill in there
# export CLOUDFLARE_API_TOKEN=""
# export CLOUDFLARE_EMAIL=""
# export TAILSCALE_TAILNET=""
# export TAILSCALE_OAUTH_CLIENT_ID=""
# export TAILSCALE_OAUTH_CLIENT_SECRET=""

source_env_if_exists ".envrc.private"
